<div class="bg">

    <button class="toggle bg-colab-yellow p-1 md:p-3 rounded-md fixed top-10 md:top-20 right-2 z-10 text-sm md:text-lg" (click)="simpleToggle()">
        <div *ngIf="!simple; else toggleElse">
            Simple
        </div>

    </button>

        <ng-template #toggleElse>
            Detailed
        </ng-template>
    <div *ngIf="!simple; else simpleElse">
        <h1 class="center">The Road So Far</h1>
        <app-photo-card [left]='conditional' [controlCode]="controlCodePhoto" [imagePath]="studentImg"
            [content]="studentContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="seattleImg"
            [content]="seattleContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="rnzbImg"
            [content]="rnzbContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="freelanceImg"
            [content]="freelanceContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="musicalImg"
            [content]="musicalContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="postImg"
            [content]="postContent"></app-photo-card>

    </div>
    <!-- <ng-template #elseBlock></ng-template> -->
    <ng-template #simpleElse>
        <h1 class="center">The Road So Far</h1>
        <div class="card pb-5">
            <h2>School</h2>
            <ul>
                <li>Ballet Chicago 2006-07</li>
                <li>The School of American Ballet 2007-2010</li>
                <li>Pacific Northwest Ballet School 2010-11</li>
                <li>GED 2021</li>
                <li></li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Dance</h2>
            <ul>
                <li>Pacific Northwest Ballet 2011-15</li>
                <li>The Royal New Zealand Ballet 2016</li>
                <li>Emery LeCrone Dance 2017-18</li>
                <li>SD|Prism Dance Theatre 2010-2020</li>
                <li>KonverjDans 2017-18</li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Voice</h2>
            <ul>
                <li>Disney's Aladdin the Musical First National Tour 2018-19</li>
                <li>Jesus Christ Superstar 50th Anniversary Tour 2019-20</li>
                <li>Winter Opera's La Rondine 2022</li>
                <li>St. Louis Symphony Chorus 2021-Present</li>
                <li>Original Songs and Compositions</li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Now</h2>

            <ul>
                <li>Coding Temple 2022</li>
                <li>Dj Nightshade - Sound Technician 2023-Present</li>
                <li>Legal Metric - Machine Learning Consultant 2023</li>
                <li>The Ride - Feature Film Costume Design 2023</li>
                <li>Chipotle - Kitchen Manager 2021-2022</li>
                <li>The Shoelace Factory - Webshop Admin 2023-Present</li>
                <!-- <li>Chipotle - Kitchen Manager</li> -->
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Tech Skills</h2>

            <ul>
                <li>C#: .NET MAUI, .NET MVC, .NET Razor Pages, ASP.NET Core, Unity</li>
                <li>TypeScript/JavaScript: Angular, Espress, React</li>
                <li>Python: Django, Flask</li>
                <li>CSS/HTML: BootStrap, Tailwind</li>
                <li>SQL: MySQL,PostreSQL, SQL Server, T-SQL, NoSQL(MongoDB, Firebase)</li>
                <li>Testing: Jasmine, Pytest, Unittest</li>
                <li>CI/CD: Docker, Github, Glitch, Netlify, Render</li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Skills</h2>

            <ul>
                <li>Agile</li>
                <li>Copy Writing</li>
            </ul>
        </div>
    </ng-template>
</div>

<!-- 
@Input() controlCode!: string;
@Input() imagePath!: string;
@Input() content!: string; -->