<div class="bg">

    <button class="toggle bg-colab-yellow p-3 rounded-md absolute" (click)="simpleToggle()">
        <div *ngIf="!simple; else toggleElse">
            Simple View
        </div>

    </button>

        <ng-template #toggleElse>
            Detailed View
        </ng-template>
    <div *ngIf="!simple; else simpleElse">
        <h1 class="center">The Road So Far</h1>
        <app-photo-card [left]='conditional' [controlCode]="controlCodePhoto" [imagePath]="studentImg"
            [content]="studentContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="seattleImg"
            [content]="seattleContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="rnzbImg"
            [content]="rnzbContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="freelanceImg"
            [content]="freelanceContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="rnzbImg"
            [content]="rnzbContent"></app-photo-card>

    </div>
    <!-- <ng-template #elseBlock></ng-template> -->
    <ng-template #simpleElse>
        <h1 class="center">The Road So Far</h1>
        <div class="card">
            <h2>School</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="card">
            <h2>Ballet</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="card">
            <h2>Musical Theatre</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="card">
            <h2>Now</h2>

            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </ng-template>
</div>

<!-- 
@Input() controlCode!: string;
@Input() imagePath!: string;
@Input() content!: string; -->