<div class="bg">

    <button class="toggle bg-colab-yellow p-1 md:p-3 rounded-md fixed top-10 md:top-20 right-2 z-10 text-sm md:text-lg" (click)="simpleToggle()">
        <div *ngIf="!simple; else toggleElse">
            Simple
        </div>

    </button>

        <ng-template #toggleElse>
            Detailed
        </ng-template>
    <div *ngIf="!simple; else simpleElse">
        <h1 class="center">The Road So Far</h1>
        <app-photo-card [left]='conditional' [controlCode]="controlCodePhoto" [imagePath]="studentImg"
            [content]="studentContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="seattleImg"
            [content]="seattleContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="rnzbImg"
            [content]="rnzbContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="freelanceImg"
            [content]="freelanceContent"></app-photo-card>
        <app-photo-card [right]='conditional' [controlCode]="controlCodePhoto" [imagePath]="rnzbImg"
            [content]="rnzbContent"></app-photo-card>

    </div>
    <!-- <ng-template #elseBlock></ng-template> -->
    <ng-template #simpleElse>
        <h1 class="center">The Road So Far</h1>
        <div class="card pb-5">
            <h2>School</h2>
            <ul>
                <li>Ballet Chicago</li>
                <li>The School of American Ballet</li>
                <li>Pacific Northwest Ballet School</li>
                <li>GED 2021</li>
                <li></li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Dance</h2>
            <ul>
                <li>Pacific Northwest Ballet (dates)</li>
                <li>The Royal New Zealand Ballet</li>
                <li>Emery LeCrone Dance</li>
                <li>SD|Prism Dance Theatre</li>
                <li>KonverjDans</li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Voice</h2>
            <ul>
                <li>Disney's Aladdin the Musical First National Tour</li>
                <li>Jesus Christ Superstar 50th Anniversary Tour</li>
                <li>Winter Opera's La Rondine</li>
                <li>St. Louis Symphony Chorus</li>
                <li>Original Songs and Compositions</li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Now</h2>

            <ul>
                <li>Coding Temple</li>
                <li>Dj Nightshade - Sound Technician</li>
                <li>Legal Metric - Machine Learning Consultant</li>
                <li>The Ride - Feature Film Costume Design</li>
                <li></li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Tech Skills</h2>

            <ul>
                <li>C#: .NET MAUI, .NET MVC, .NET Razor Pages, ASP.NET Core, Unity</li>
                <li>TypeScript/JavaScript: Angular, Espress, React</li>
                <li>Python: Django, Flask</li>
                <li>CSS/HTML: BootStrap, Tailwind</li>
                <li>SQL: MySQL,PostreSQL, SQL Server, T-SQL, NoSQL(MongoDB, Firebase)</li>
                <li>Testing: Jasmine, Pytest, Unittest</li>
                <li>CI/CD: Docker, Github, Glitch, Netlify, Render</li>
            </ul>
        </div>
        <div class="card pb-5">
            <h2>Skills</h2>

            <ul>
                <li>Agile</li>
                <li>TypeScript/JavaScript: Angular, Espress, React</li>
            </ul>
        </div>
    </ng-template>
</div>

<!-- 
@Input() controlCode!: string;
@Input() imagePath!: string;
@Input() content!: string; -->