<div class="bg">
<h1 class="text-center mb-10 text-6xl">Projects</h1>
<app-card [title]="DTTitle" [content]="DTContent" [link]="DTLink" [buttonText]="buttonText" [control]="1" [language]="DTLang"></app-card>
<app-card [title]="RDTitle" [content]="RDContent" [link]="RDLink" [buttonText]="buttonText" [control]="1" [language]="RDLang"></app-card>
<app-card [title]="PBTitle" [content]="PBContent" [link]="PBLink" [buttonText]="buttonText" [control]="1" [language]="PBLang"></app-card>
<app-card [title]="EGTitle" [content]="EGContent" [link]="EGLink" [buttonText]="buttonText" [control]="1" [language]="EGLang"></app-card>
<app-card [title]="RWTitle" [content]="RWContent" [link]="RWLink" [buttonText]="buttonText" [control]="1" [language]="RWLang"></app-card>

</div>