<div id="first" class="container">
    <div class="card">

<h2 class="bigWords">Charles McCall, Charming creator, dashing developer, and all around Renaissance man Who am I?</h2>
    <p>Need a developer that does C# and works in .NET or Unity? How about someone happy in Typescript building in Angular or React?</p>
    <a class="button">learn about me</a>
    </div>
    <div class="card">

    <h2 class="bigWords">Charles McCall, Charming creator, dashing developer, and all around Renaissance man History</h2>
    <p>Need a developer that does C# and works in .NET or Unity? How about someone happy in Typescript building in Angular or React?</p>
    <a class="button">History</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2 class="bigWords">Charles McCall, Charming creator, dashing developer, and all around Renaissance man Projects?</h2>
    <p>Need a developer that does C# and works in .NET or Unity? How about someone happy in Typescript building in Angular or React?</p>
    <a class="button">projects</a>
    </div>
</div>

