.container {
  margin: auto;
}

.bg {
    background-image: linear-gradient(rgb(246, 248, 250), #fff3ce, #d2edff) ;

}

#first {
    padding-top: 4rem;

}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}


.card {
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.bigWords {
    font-size:  3rem;
}

.button {
    background-color: #72CDAB;
    padding: .3rem;
    border-radius: .3rem;
}

.card p {
    margin-bottom: 1rem;
}