<div class="bg">
<div id="first" class="container">

<app-card [title]="titlestuff" [content]="contentstuff" [link]="linkstuff" buttonText="Learn More"></app-card>
<app-card [title]="titlestuff" [content]="contentstuff" [link]="linkstuff" [buttonText]="buttonTextstuff"></app-card>
<app-card [title]="titlestuff" [content]="contentstuff" [link]="linkstuff" [buttonText]="buttonTextstuff"></app-card>
<app-card [title]="titlestuff" [content]="contentstuff" [link]="linkstuff" [buttonText]="buttonTextstuff"></app-card>
<app-card [title]="historyTitle" [content]="historyContent" [link]="historyLink" [buttonText]="historyButtonText"></app-card>
</div>

</div>