<div class="bar">
    <div class="container">
        <div class="homeButton">
            <a href="" routerLink="/" routerLinkActive="active" class="embiggen">Charles McCall</a>

            <app-logo></app-logo>
        </div>
        <div class="burger" (click)="toggleMenu()">
            <i class="materials-icons menu-button"> {{ isMenuOpen ? "close" : "menu" }}</i>
        </div>
        <ul class="nav" [class.is-open]="isMenuOpen">
            
            <!-- <li class="navItem"></li>
        <li class="navItem"></li> -->
            <a href="" class="navItem" routerLink="/"
            routerLinkActive="active">Home</a>
            <a href="" class="navItem" routerLink="/history" routerLinkActive="active">What I've Done</a>
            <a href="" class="navItem" routerLink="/api" routerLinkActive="active">api stuff</a>
            <a href="" class="navItem" routerLink="/projects" routerLinkActive="active">The Whistler (projects)</a>
        </ul>
        <button class="minMax" (click)="toggleMenu()">
           {{buttonText}}
        </button>

    </div>
</div>