.container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 2rem;
}

.nav {
    display: flex;
    gap: 2rem;
}

.bar {
    box-shadow: 0rem .01rem 1rem #8b8b8b;
    position: fixed;
    width: 100%;
    top: 0;
}