.container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 1rem;
}

.nav {
    align-items: center;
    display: flex;
    gap: 2rem;
    /* flex-wrap: wrap; */
}



.bar {
    box-shadow: 0rem .01rem 1rem #8b8b8b;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}

.embiggen {
    position: relative;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: rgba(20, 31, 41, 0);
    z-index: 1;
}


.green {
    background-color: #72CDAB;
}

.pink {
    background-color: #EFA6D2 ;
}

.navItem {
    border-radius: .375rem;
    padding: .375rem .5rem;
}
.navItem:hover {
    /* color: #485BFF; */
    background-color: #72cdac63;
    box-shadow: 0 0 1rem rgba(204, 204, 204, 0.607);
}

.green {
    background-color: #72CDAB;
}
.blue {
    background-color: #485BFF;
}

.yellow {
    background-color: #FFCC35;
}

.minMax {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

   .container {
       flex-direction: column;
   }

   .homeButton{
    align-items: center;    
    text-align: center;
   }

   .minMax {
       display: block;
   }
}