.container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 1rem;
}

.nav {
    display: flex;
    gap: 2rem;
}

.bar {
    box-shadow: 0rem .01rem 1rem #8b8b8b;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}

.embiggen {
    position: relative;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: rgba(20, 31, 41, 0);
    z-index: 1;
}


.green {
    background-color: #72CDAB;
}

.pink {
    background-color: #EFA6D2 ;
}

.navItem {
    border-radius: 1rem;
    padding: .2rem;
}
.navItem:hover {
    color: #FFCC35;
    background-color: #485BFF;

}