<div class="bar">
    <div class="container">
        <div class="homeButton">
            <h3 class="embiggen">Charles McCall</h3>

            <app-logo></app-logo>
        </div>
        <ul class="nav">
            <!-- <li class="navItem"></li>
        <li class="navItem"></li> -->
            <a href="" class="navItem" routerLink="/"
            routerLinkActive="active">Home who am i</a>
            <a href="" class="navItem" routerLink="/history" routerLinkActive="active">Darling what have I done? (History)</a>
            <a href="" class="navItem" routerLink="/api" routerLinkActive="active">api stuff</a>
            <a href="" class="navItem" routerLink="/projects" routerLinkActive="active">The Whistler (projects)</a>
        </ul>
        <button>
            stuff goes here
        </button>
    </div>
</div>