
.box {
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 0;
}
.yellow {
    translate: 6.5rem -3.5rem;
}

.blue {
    translate: 4rem -2.75rem;
}

.teal {
    translate: 1.5rem -2rem;

}